<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <link rel = "stylesheet" href = "/main.css">
</head>
<body class = "grey-bg">
    <%- include('nav.ejs') %>
    
    <div class="detail-bg">
        <h4>ㅇㅇㅇ님의 페이지</h4>
        <p>나를 조회한 사람 목록</p>
        <form>
            <input type = "button" value="수정">
            <input type = "button" value="삭제">
        </form>
    </div> 
</body>
</html>