<div class="nav">
    <a class="logo" href ="/" >KHU Secret Forum</a>
    <a href = "list">고품격 게시물</a>
    <a >동아리 홍보</a>
    <a href="/mypage/chatlist">채팅목록</a>
    <a href="/mypage" style="margin-left: auto;" >마이 페이지👤</a>

    <!-- <button type ="button" onclick = "window.open('/write')" class="btn btn-danger" >새 게시물 작성</button>
    <button type="button" onclick = "location.href = '/list'" class="btn btn-warning">게시물 목록</button> -->
</div> 