<div class="nav">
    <a class="logo" >KHU Secret Forum</a>
    <a >비밀게시판</a>
    <a >동아리 홍보</a>

    <button type ="button" onclick = "window.open('/write')" class="btn btn-danger" >새 게시물 작성</button>
    <button type="button" onclick = "location.href = '/list'" class="btn btn-warning">게시물 목록</button>
</div> 