<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel = "stylesheet" href = "/main.css">
</head>
<body>
    <%- include('nav.ejs') %>
    
    <form class="form-box" action = "/register" method="post">
        <h4>회원가입</h4>
        <input name = "username" required placeholder="사용하실 아이디를 입력해주세요.">
        <input name = "password" type="password" required placeholder="사용하실 비밀번호를 입력해주세요.">
        <button type="submit">전송</button>
    </form> 
    
</body>
</html>